sudo: required

language: java

services:
  - docker

before_install:
  - docker build -t green .

script:
  - docker run green /bin/sh -c "ant; ant test"

branches:
	only:
		-master
		-feature/ConstantPropagation
